@model IEnumerable<AppSklepZoologiczny.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<form asp-action="Index" method="get">
    <div class="form-group" style="width: 300px;">
        <label for="SearchString">Search</label>
        <div style="display:flex; flex-direction: row; gap:5px;">
        <input style="margin-bottom: 10px" type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input style="margin-bottom: 10px" type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem=>item.Id)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
